* {
	box-sizing: border-box;
}

body {
	width: 80%;
	height: auto;
	margin: auto;
	background: white;
	font-family: Arial;
}

/* Style header */
.prj_header .prj_tophead .prj_welcome {
	width: 30%;
	height: auto;
	padding-left: 13%;
}

.prj_header .prj_tophead .prj_searchbox {
	width: 70%;
	height: auto;
}

.prj_header .prj_tophead {
	display: flex;
	border: 1px solid;
	display: flex;
	background: #003300;
	padding: 5px 10px;
}

.prj_header h1 {
	color: white;
	font-size: 300%;
}

.prj_header p {
	color: #00ccff;
	font-size: 80%;
	margin-top: -50px;
}

.prj_header .prj_searchbox .search {
	float: left;
	padding: 10px;
	margin-top: 50px;
}

.prj_header .prj_searchbox input {
	width: 70%;
	border: none;
	border-radius: 5px 0 0 5px;
}

.prj_header .prj_searchbox button {
	background: orange;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.prj_header .prj_searchbox button:hover {
	background: green;
}

.prj_header .prj_topnav {
	overflow: auto;
	background-color: #003333;
	padding: 10px 30px;
}

/* Style topnav links */
.prj_header .prj_topnav a {
	padding: 10px 16px;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.prj_header .prj_topnav a:hover {
	background-color: green;
}

/* Style table list_product*/
.list_products {
	width: 80%;
	height: auto;
	margin: 10px;
	border-spacing: 20px;
}

.list_products td {
	border: 0.1px solid gray;
	border-radius: 5px;
	padding: 10px 0 0 10px;
}

.list_products .link {
	text-decoration: none;
}

.list_products .shopname {
	color: gray;
}

.list_products .phonename {
	color: #003300;
}

.list_products .price {
	color: red;
	font-weight: bold;
}

/* style infoProduct page*/
.product_info .phone_name {
	padding-top: 20px;
	color: gray;
}

.product_info .phone_image {
	width: 30%;
}

.product_info .phone_info {
	width: 30%;
	padding-left: 20px;
}

.product_info {
	display: flex;
	padding: 20px 0 100px 30px;
}

.product_info .price {
	color: red;
}

img {
	width: 100%;
	height: auto;
	margin: auto;
}

.product_info #button {
	border: none;
	border-radius: 5px;
	background-color: orange;
	color: white;
	padding: 5px 10px;
	cursor: pointer;
}

product_info #button:hover {
	background-color: green;
}

/* style cart  */
.cart, .cart td, .cart th {
	border: 2px solid green;
	text-align: center;
	padding: 10px;
}

.cart {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
	padding: 5px 20px;
	margin-top: 20px;
}

.total_amount {
	color: red;
	font-weight: bold;
	float: right;
	margin-right: 30px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.cart .quantity {
	text-decoration: none;
	border: 1px solid orange;
	border-radius: 2px;
	padding: 2px 10px;
	background: orange;
	margin: 0 20px;
}

.customInfo {
	width: 60%;
	height: auto;
	padding: 5%;
	margin: 5%;
	background-color: #e3be59;
	border-radius: 5px;
}

.customInfo input[type=text] {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

.customInfo lable {
	font-weight: bold;
}

#button {
	border: none;
	border-radius: 5px;
	background-color: green;
	color: white;
	padding: 10px 15px;
	margin-top: 20px;
	font-weight: bold;
}

#button:hover {
	background-color: orange;
}

/* Style footer */
.prj_footer {
	background: #003300;
	color: #ff9900;
	text-align: center;
	padding: 10px;
}

/*style paging links*/
.pagination  a {
	color: white;
	background: orange;
	border-radius: 10%;
	padding: 8px 15px;
	text-decoration: none;
}

.pagination {
	margin: 30px;
	text-align: center;
}

.pagination .active {
	background: green;
}